<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>💡 레시피 7-07 도메인 객체 보안 처리하기 - Jakarta</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="card">
  <div class="card-header">
    <h2>레시피 7-07 도메인 객체 보안 처리하기 : 테스트 URL</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">레시피 7-07 도메인 객체 보안 처리하기</h5>
    <p>💡 Spring 6.x 이상 + Spring Security 6.x 버전 이상의 비교적 최신 환경 테스트</p>
    <ul>
      <li><a th:href="@{/login}">로그인 페이지</a></li>
      <li><a th:href="@{/todos}">URL 접근 보안이 적용된 Todo 메인 페이지</a></li>
    </ul>
  </div>
</div>

</body>
</html>