<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bannerLoader"
          class="org.fp024.study.spring5recipes.shop.BannerLoader"
          init-method="showBanner">
        <property name="banner">
            <value>classpath:banner.txt</value>
        </property>
    </bean>


    <bean id="aaa" class="org.fp024.study.spring5recipes.shop.Battery">
        <property name="name" value="AAA"/>
        <property name="price" value="2.5"/>
        <property name="rechargeable" value="true"/>
    </bean>

    <bean id="cdrw" class="org.fp024.study.spring5recipes.shop.Disc">
        <property name="name" value="CD-RW"/>
        <property name="price" value="1.5"/>
        <property name="capacity" value="700"/>
    </bean>

    <bean id="dvdrw" class="org.fp024.study.spring5recipes.shop.Disc">
        <property name="name" value="DVD-RW"/>
        <property name="price" value="3.0"/>
        <property name="capacity" value="700"/>
    </bean>

    <bean id="shoppingCart" class="org.fp024.study.spring5recipes.shop.ShoppingCart" scope="prototype"/>
</beans>