<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>💡 레시피 7-03-vi 유저 인증하기 - UserDetails 캐시하기</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="card">
  <div class="card-header">
    <h2>레시피 7-03-vi UserDetails 캐시하기 : 테스트 URL</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">레시피 7-03-vi UserDetails 캐시하기 테스트</h5>
    <ul>
      <li><a th:href="@{/login}">로그인 페이지</a></li>
      <li><a th:href="@{/todos}">URL 접근 보안이 적용된 Todo 메인 페이지</a></li>
    </ul>
  </div>
</div>

</body>
</html>