# Ignore Gradle project-specific cache directory
.gradle

# HyperSQL DB 임시 DB디렉토리
file_db_temp

# Ignore Gradle build output directory
build
bin

# eclipse
.settings
.classpath
.project

# IntelliJ
.idea

# 루트 프로젝트의 내용을 따르도록 하고, 필요시 잠깐식 복해서 쓸 수 있도록 무시파일에 포함한다.
gradle.properties
settings.gradle

# vscode
.vscode

# 프로세서에서 데이터 검증을 하는 예제여서, csv 파일을 포함하자!
#csv/registrations.csv
