<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>💡 레시피 7-01-i URL 접근 보안하기 (아직 보안이 적용되지 않음)</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="card">
  <div class="card-header">
    <h2>레시피 7-01-i URL 접근 보안하기 (아직 보안이 적용되지 않음) : 테스트 URL</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">레시피 7-01-i URL 접근 보안하기 동작 테스트</h5>
    <ul>
      <li><a th:href="@{/todos}">(✨ 예제 주제) 보안이 적용되지 않은 Todo 메인 페이지</a></li>
    </ul>
  </div>
</div>

</body>
</html>