<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>🎉 Reservation Success 🎉</title>
  <link th:href="@{/webjars_locator/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="card">
  <div class="card-body">
    <div class="alert alert-success" role="alert">
      Your reservation has been made successfully.
    </div>
  </div>
</div>
</body>
</html>
