<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <!-- Appenders -->
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.fp024.study.spring5recipes" level="debug"/>

    <logger name="jdbc.sqlonly" level="off"/>
    <logger name="jdbc.sqltiming" level="debug"/>
    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.resultsettable" level="debug"/>
    <logger name="jdbc.connection" level="off"/>

    <Root level="info">
      <Appender-Ref ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
