<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link type="text/css" rel="stylesheet"
        th:href="@{/webjars/Semantic-UI/semantic.min.css}"/>
</head>

<body>
<div class="ui container">
  <h4 th:text="|To-dos for ${principal_name}|"></h4>
  <table class="ui celled table">
    <thead>
    <tr>
      <th class="three wide">Owner</th>
      <th class="five wide">To-do</th>
      <th class="two wide">Completed</th>
      <th class="six wide">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo :${todos}">
      <td th:text="${todo.owner}"></td>
      <td th:text="${todo.description}"></td>
      <td th:text="${todo.completed}"></td>
      <td>
        <th:block th:if="${!todo.completed}">
          <form th:action="@{|/todos/${todo.id}/completed|}" method="post" style="float: left;">
            <input type="hidden" name="_method" value="PUT"/>
            <button class="ui mini green icon button"><i class="check circle icon"></i></button>
          </form>
        </th:block>
        <form th:action="@{|/todos/${todo.id}|}" method="post" style="float: left;">
          <input type="hidden" name="_method" value="DELETE"/>
          <button class="ui mini red icon button"><i class="remove circle icon"></i></button>
        </form>
      </td>

    </tr>

    <tr>
      <td colspan="3">
        <a class="ui mini icon button" th:href="@{/todos/new}">New To-do <i
            class="add circle icon"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>

